*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 10px;
}
.panel{
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat ;
    height: 80vh;
    border-radius: 22px;
    color: wheat;
    flex: .5;
    margin: 8px;
    position: relative;
    transition: flex 0.6s ease-in-out;
    overflow: hidden;
    
}
.panel h3{
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}
/* .panel .active:hover,.panel .active:hover{
    flex: auto;
} */
.panel.active:hover{
    flex:1;
}
.panel.active:hover h3{
    opacity: 1;
} 

@media (max-width: 400px){
    .container{
        width:100vh;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}